*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    
}

html,body{
	height: 100%;
    background-color: white;
    font-family: 'Open Sans', sans-serif;
}

.clear{
    clear: both;
}

.centralizar {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    width: 100%;
    height: 100%;
    justify-content:center;
}

.central {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    align-items:center;
    width: 100%;
}

.container{
	width: 100%;
	max-width: 1440px;
	margin:0 auto;
    padding: 50px 5%;
}

.button{
    width: 35%;
    height: 40px;
    border: none;
    border-radius: 3px;
    background-color: #6f9dff;
    color:white;
}

.w50{
    width: 50%;
    padding-right: 30px;
    color: #03003a;
    order: 2;
}

header{
    width: 100%;
    height: 150px;
    font-family: 'Raleway', sans-serif;
}

header .logo{
    width: 50%;   
}

header nav.menu{
    width: 50%;
}

header nav.menu a{
    text-decoration: none;
    color: black;
}

header nav.menu ul{
    list-style-type: none;
    width: 60%;
    float: right;
}

header nav.menu ul li{
    display: inline-block;
    text-align: right;
    width: 100%;
}

.img-w50{
    width: 50%;
    order: 2;
}

.img-w50 img{
    width: 100%;
    margin-bottom: 50px;
}

.w50 input[type="email"]{
    width: 60%;
    height: 40px;
    border:1px solid #cccccc;
    border-radius: 3px;
    padding:15px;
    margin-right: 10px;
    margin-bottom: 30px;
}

.text-section{
    order: 1;
}

.text-section h1{
    font-size: 37px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    margin-bottom: 25px;
}

.text-section p{
    font-size: 17px;
    margin-bottom: 25px;
}

.text-section form{
    width: 80%;
}

section.section-two{
    width: 100%;
}

section.section-two img.curve{
    width: 100%;
    position: relative;
    bottom: -10px;
}

section.section-two .background-section-two{
    background-color: #f9f8fe;
}

section.section-two .link-fylo{
    color: #79e0cb;
    text-decoration: none;
    border-bottom: 1px solid #79e0cb
}

section.section-two .link-fylo img{
    position: relative;
    top:3px;
    margin-left: 3px;
}

section.section-two .testimony{
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 40px;
    width: 70%;
    background-color: white;
    border-radius: 8px;
    text-align: justify;

    -webkit-box-shadow: -2px 4px 15px 0px rgba(50, 50, 50, 0.25);
    -moz-box-shadow:    -2px 4px 15px 0px rgba(50, 50, 50, 0.25);
    box-shadow:         -2px 4px 15px 0px rgba(50, 50, 50, 0.25);
}

section.section-two .testimony img.quote{
    margin-bottom: 15px;
    width: 25px;
}

section .testimony-person{
    width: 100%;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    align-items:center;
}

section .img-testimony-person{
    width: 30%;
    
}

section .img-testimony-person img{
    max-width: 80px;
    border-radius: 50%;
}

section .name-testimony-person{
    width: 70%;
}

section .name-testimony-person span{
    color:#616068;
}

section.section-three{
    background-color: #575989;    
}

section.section-three .w70{
    width: 70%;
    color: white;
    margin:50px 0 50px 0;
}

section.section-three .w70 h1{
    margin-bottom: 30px;
}

section.section-three .w30{
    width: 30%;
}

section.section-three .w50 input[type="email"]{
    width: 100%;
}

section.section-three .w50 .button{
    width: 50%;
}

footer{
    background-color: #07043b;
    color: white;
}

footer .central{
    align-items: flex-start;
}

footer .footer-logo img{
    max-width: 150px;
    margin: 20px 0;
}

footer a{
    color: white;
    text-decoration: none;
}

footer a:hover{
    color: #707bbd;
}

footer .w33{
    width: 33.33%; 
}

footer .w33 ul{
    list-style-type: none;
}

footer .w33 ul img{
    width: 20px;
    position: relative;
    top: 5px
}

footer .w33 ul li{
    margin-bottom: 15px;
}

footer .w33 img{
    width: 30px;
    margin-right: 10px;
}

footer .attribution{
    padding-bottom: 40px;
}

@media screen and (max-width: 768px){
        
    .w50{
        width: 100%;
        padding-right: 0;
    }

    .button{
        width: 100%;
    }
    
    header nav.menu{
        width: 100%;       
    }

    header nav.menu ul{
        list-style-type: none;
        width: 100%;
        float: right;
    }

    header .logo{
        width: 50%;   
    }

    header .logo img{
        width: 100%;   
    }

    section.section-one .central{
        display: inline-block;
        text-align: center;
    }

    section.section-one .centralizar{
        display: inline-block;
        text-align: center;
    }

    section.section-one .text-section form{
        width: 100%;
    }

    .w50 input[type="email"]{
        width: 100%;
        margin-bottom: 15px;
    }

    section.section-one .img-w50{
        width: 100%;
    }

    section.section-two .central{
        display: inline-block;
        text-align: center;
    }

    section.section-two .centralizar{
        display: inline-block;
        text-align: center;
    }

    section.section-two .img-w50{
        width: 100%;
    }

    section.section-two .testimony{
        width: 100%;
    }

    section.section-three .central{
        display: inline-block;
        text-align: center;
    }

    section.section-three .centralizar{
        display: inline-block;
        text-align: center;
    }

    section.section-three .w70{
        width: 100%;
    }

    section.section-three .w30{
        width: 100%;
    }

    section.section-three .w50 input[type="email"]{
        width: 80%;
        margin-right: 0;
        margin-bottom: 15px;
    }

    section.section-three .w50 .button{
        width: 80%;
        padding-right: 0;
    }

    footer .central{
        display: inline-block;
        text-align: center;
    }

    footer .centralizar{
        display: inline-block;
        text-align: center;
    }

    footer .footer-logo{
        max-width: 150px;
        margin: 0 auto;
    }

    footer .w33{
        width: 100%;
        margin-bottom: 50px;
    }

}